body {
    margin: 0;          /*border fill*/
    font-family: 'Kumbh Sans', sans-serif;
    background: radial-gradient(black, rgb(27, 8, 27));
    overflow-x: hidden;
}

.navbar {
    height: 80px;
    display: flex;          /*enables this navbar container to utilize CSS flexbox properties like justify content and align items */
    justify-content: center;        /*centers along the horizontal x-axis */
    align-items: center;            /*centers along the vertical y-axis*/
    font-size: 1rem;
    position: sticky;
    z-index: 999;       /*Note: if the z-index of the element is larger, it will be in front of any element with a smaller z-index. Good for a sticky header */
    list-style-type: none;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;   /*how high up the items are in comparison to the navigation bar*/
    z-index: 1;
    width: 100%;
    max-width: 1300px;      
    padding: 0 50px;    /*to not be too close to the sides of the screen*/
    list-style-type: none;
}

#navbar_logo {      /*theCoderSchool title at the top of the navigation menu*/
    background-image: linear-gradient(to bottom, #4ae257 0%, #31ffad 100%);
    background-size: 100%;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.fa-code {  
    margin-right: 0.5rem;
}

.navbar_menu {          /*overarching unordered list that contains all the items (headquarters hub, the hacker lab, faqs)*/
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar_item {          /*headquarers, the hacker lab, faqs*/
    height: 40px;
}

.navbar_link {      /*The URL associated when clicking on the above items*/
    list-style-type: none;  /*get rid of bulle points*/
    color: rgb(255, 255, 255);
    display: flex;
    text-decoration: none;  /*gets rid of the underline of the URL*/
    padding: 0 2rem;
    line-height: 40px;
}

.navbar_link:hover {
    color:#70ff75;
    transition: all 0.4s ease;
}




/*Time to make this navigation menu mobile friendly (screen-minimizing friendly)*/

@media screen and (max-width: 960px) {  /*allows us to slide menu down to view*/
    /*This is a media query for screens smaller than 960px. It modifies several of the above styles to make the navbar responsive to smaller screens, like hiding the menu until toggled and changing layout to a vertical grid.*/
    .navbar_container {
        padding: 0;
    }

    .schedule {
        top: -150px !important;
        transition: all 1s;
    }

    .aboutimg {
        margin-top: 50px;
        width: 200px !important;
    }
    
    .slogans_container {
        width: 500px !important;
        font-size: 12px;
    }

    #slg-text {
        width: 200px !important;
        font-size: 14px !important;
        height: 200px;
    }

    .navbar_menu {
        display: grid;              /*lists the dropdown menu items in dropdown form*/
        margin: 0;
        width: 100%;
        position: absolute;
        top: -300px;
        opacity: 0;
        transition: all 0.4s ease;
        background: rgb(27, 8, 27);

    }

    .navbar_menu.active {      /*The black background of the slide-down action*/
        background: radial-gradient(black, rgb(27, 8, 27));
        top: 100%;
        opacity: 1;
        transition: all 0.3s ease;
        height: 50vh;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {          /*Everything here is just how the menu would look on a small phone screen, after you hit toggle button*/
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar{       /*it's the three row horizontaal lines that allows you to surf through stuff*/ 
        display: block;
        cursor: pointer;

    }

    #mobile-menu.is-active .bar:nth-child(2) {  /*allows animation of the toggle horizontal lines menu icon to turn into an X button*/
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* ANIMATION */

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
    display: table;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line {
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
}

#l1 {
    background: linear-gradient(black, rgb(174, 174, 174));
    content: '';
    position: absolute;
    height: 5vh;
    top: -50%;
    margin-left: -50%;
    animation-delay: 1.5s;
    overflow: hidden;
    animation-name: drop;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);  
}

#l4 {
    top: 0%;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
}

#l5 {
    top: 0%;
    margin-left: 50%;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
}

#l6 {
    top: 0%;
    margin-left: -50%;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
}

#l2 {
    background: linear-gradient(black, rgb(174, 174, 174));
    content: '';
    position: absolute;
    height: 5vh;
    top: -50%;
    animation-delay: 2s;
    overflow: hidden;
    animation-name: drop;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);  
}

#l3 {
    background: linear-gradient(black, rgb(174, 174, 174));
    content: '';
    position: absolute;
    height: 5vh;
    top: -50%;
    margin-left: 50%;
    animation-delay: 2.5s;
    overflow: hidden;
    animation-name: drop;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);  
}
    
@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 100%;
    }
}

.rocket {
    background-image: url("/assets/rocket.png");
    width: 400px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 2000px;
    top: 200px;
    animation: rocketShipRotate 10s linear 0s infinite;
    z-index: 10;
}

.car {
    background-image: url("/assets/car.png");
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 450px;
    right: 2000px;
    animation: carRotate 10s ease-in-out 0s infinite;
    animation-delay: 3s;
    z-index: 10;
}

.smoke {
    background-image: url("/assets/smoke.png");
    width: 300px;
    height: 300px;
    right: 2000px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 425px;
    animation: smokeRotate 10s ease-in-out 0s infinite;
    animation-delay: 3s;
    z-index: 10;
}

@keyframes rocketShipRotate {
    0% {
        left: 2000px;
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(45deg);
    }
    40% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-25deg);
    }
    100% {
        left: -500px;
        transform: rotate(15deg);
    }
}

@keyframes smokeRotate {
    0% {
        right: 2000px;
        transform: rotate(0deg);
        top: 425px;
    }
    20% {
        transform: rotate(-3deg);
        top: 440px;
    }
    40% {
        transform: rotate(0deg);
        top: 425px;
    }
    60% {
        transform: rotate(3deg);
        top: 415px;
    }
    100% {
        right: -500px;
        top: 425px;
        transform: rotate(3deg);
    }
}

@keyframes carRotate {
    0% {
        right: 2000px;
        transform: rotate(0deg);
    }
    100% {
        right: -500px;
        transform: rotate(5deg);
    }
}

/*-------- logo ---------*/

/* INFO */

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    margin-top: -50px;
}

.tcs-logo-container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center; 
    justify-content: space-evenly;
    margin-top: 100px;
    padding:  0px 0px 0px 0px;
}

.tcs-logo {
    width: 600px;
    height: 600px;
    background-image: url("/assets/The.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 20;
}

/*-------- slogans section ---------*/

.divider{
    margin-top: 0px;
}

.slogans-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogans_container {
    display: grid;
    /* background-image: linear-gradient(to bottom, #4ce787 1%, #000000 20%); */
    grid-template-columns: 1fr 1.6fr;
    width: 1000px;
    align-items: center;
}

.slogan_container > div{
    text-align: center;
    padding: 20px 0;
}

.abtimgdiv {
    width: 300px;
}

.slogans_content h1 {
    font-size: 5rem;
    background-image: linear-gradient(to top,#77d6ff 0%, #3fa246 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    align-items: center;
    z-index: 1;
}

.slogans_content h2 {
    font-size: 2.5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #77d6ff 0%, #3fa246 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.slogans_content h3 {
    font-size: 1.3rem;
    color: #fff;
}

.Register-Now {
    font-size: 1rem;
    background-image: linear-gradient(to top, #5e095b 0%, #ff6287 100%);
    padding: 14px 32px;
    color: #fff;
    margin-top: 2rem;
    position: relative;
    transition: all 0.1s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   /*centers button along with top and left*/
    border: none;
    border-radius: 10px;
    z-index: 100;
}

.Register-Now:hover {
    cursor: pointer;
}

.Register-Now a {
    position: relative;
    z-index: 999;
    color: #fff;    /*get started font color*/
    text-decoration: none;

}

.Register-Now:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #786bff;    /*hover effect on button*/
    transition: all 0.1s;
    border-radius: 4px;
}


.Register-Now:hover:after {    
    width: 100%;    /*how much of button is covered by transition effect*/
}




.get_started_btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #77d6ff 0%, #3fa246 100%);
    padding: 14px 32px;
    color: #fff;
    margin-top: 2rem;
    position: relative;
    transition: all 0.35s;
    border-radius: 5px;
    border: none;
    
    position: relative;
    z-index: 2;
    color: #fff;    /*get started font color*/
    text-decoration: none;
}


.get_started_btn a {          /*--gets rid of underline in the 'get started' button and changes font color*/
    position: relative;
    z-index: 2;
    color: #fff;    /*get started font color*/
    text-decoration: none;
}

.get_started_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;    /*hover effect on button*/
    transition: all 0.275s;
    border-radius: 4px;
}

.get_started_btn:hover {
    cursor: pointer;
}

.get_started_btn:hover:after {   
    width: 100%;    /*how much of button is covered by transition effect*/
}

  .aboutimg{
    width: 300px;
    border-radius: 1rem;
    margin-bottom: 20px;
  }
  
  .paracard{
    width: 400px;
    background-color: #00ffa0;
    border-radius: 1rem;
    position: relative;
  }
  .white{
    color: white;
  }
  .aboutdesc{
    display: inline-flexbox;
    color: white;
    width: 400px;
    float: right;
    margin-right: 300px;
    
  }
  .fade-on-scroll {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out; /* Set transition for smooth fade */
  }
  
  .fade-on-scroll.is-visible {
    opacity: 1; /* Fully visible on scroll */
  }
  
  .centerdiv{
    margin:auto;
    align-items: center;
    text-align: center;
  }

  /* FAQ */

.faq-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.faq-text-container {
    background-color: rgba(86, 84, 84, 0.223);
    height: 100px;
    margin-top: 20px;
    width: 90vw;
    border-radius: 5px;
    color: white;
    user-select: none;
    transition: height .25s !important;
}


.faq-question {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 90vw;
    border-radius: 5px;
    color: white;
}

.faq-question:hover {
    cursor: pointer;
}

.faq-toggle {
    background-color: red;
    height: 50px;
    width: 50px;
    float: right;
    user-select: none;
}

.faq-text {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 90vw;
    border-radius: 5px;
    color: white;
    border-top: 1px rgba(255, 255, 255, 0.503) solid;
}

#faq-close {
    height: 50px;
}

#faq-closed-text {
    visibility: hidden;
}

#faq-open {
    height: 100px;
}



 .overtimer {
    position: relative;
    display: inline-block;
    max-width: 100%;
    text-align: center;
 }
 
 
  .overtimer img {
    max-width: 71%;
    height: auto;
    z-index: 1;
  }
 
 
  .centeredText {
    position: absolute;
    top: 41%;
    left: 40%;
    transform: translate(-50%, -50%);  /*with position absolute, centers horizontally and vertically text */
    color: rgb(13, 57, 177);
    font-size: 4vw; /* Scale the font size with the viewport width no matter how small the screen gets */
    text-align: center; /* Center-align the text */
  }
 
 
  #timer {
    position: absolute;
    top: 35%;
    left: 55%;
    transform: translate(-50%, -50%);  /*with position absolute, centers horizontally and vertically text */
    color: rgb(103, 20, 141);
    font-size: 3vw; /* Scale the font size with the viewport width no matter how small the screen gets */
    text-align: center; /* Center-align the text */
    z-index: 999;
  }

  #countdowntitle {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);  /*with position absolute, centers horizontally and vertically text */
    color: rgb(235, 191, 255);
    font-size: 4vw; /* Scale the font size with the viewport width no matter how small the screen gets */
    text-align: center; /* Center-align the text */
    z-index: 999;
  }

  .schedule {       /*container for schedule and computer image*/
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -350px;
 }


.sched-img {
    max-width: 120%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

#About {
    color: red;
    text-align: left;
 }
 #Tracks {
    color:#31ffad;
 }
 #FAQs {
    color:#78c6e7;
 }
 #Sponsors {
    color:#ff8177;
 }

 .sponsorscontainer {
     margin-bottom: 100px;
 }

 .wave-img {
    z-index: 1;
    position: absolute;
    opacity: 0.25;
 }

 .circuit-img {
    z-index: 1;
    width: 100%;
    position: absolute;
    opacity: 0.75;
 }

 .floof-img {
    z-index: 1;
    position: absolute;
    opacity: 0.25;
 }

 .computer-img {
    z-index: 1;
    position: absolute;
    width: 35%;
    
    top: 50%;
    left: 27%;
    transform: translate(-50%,-50%);

    animation: bounce 3s linear infinite;

 }

 @keyframes bounce{
    20%, 50%, 80%, to {
        transform: translate(-50%, -50%) translateY(0);
      }
    
      40% {
        transform: translate(-50%, -50%) translateY(-30px);
      }
    
      70% {
        transform: translate(-50%, -50%) translateY(-15px);
      }
    
      90% {
        transform: translate(-50%, -50%) translateY(-8px);
      }

 }
 
 .circuitboard-img {
    z-index: 1;
    position: absolute;
    width: 60%;
    
    top: 250%;
    left: 120%;
    transform: translate(-50%,-50%);

    animation: bounce 3s linear infinite;

 }

 #slogan-h1 {
     margin-top: 50px;
 }
