body {
    margin: 0;          /*border fill*/
    font-family: 'Kumbh Sans', sans-serif;

}

.navbar {
    background: #000000;
    height: 80px;
    display: flex;          /*enables this navbar container to utilize CSS flexbox properties like justify content and align items */
    justify-content: center;        /*centers along the horizontal x-axis */
    align-items: center;            /*centers along the vertical y-axis*/
    font-size: 1.5rem;
    position: sticky;
    z-index: 999;       /*Note: if the z-index of the element is larger, it will be in front of any element with a smaller z-index. Good for a sticky header */

}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;   /*how high up the items are in comparison to the navigation bar*/
    z-index: 1;
    width: 100%;
    max-width: 1300px;      
    padding: 0 50px;    /*to not be too close to the sides of the screen*/

}

#navbar_logo {      /*theCoderSchool title at the top of the navigation menu*/
    background-image: linear-gradient(to bottom, #4ae257 0%, #31ffad 100%);
    background-size: 100%;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    display: flex;
    align-items: center;
    font-size: 2rem;  
}

.fa-code {  
    margin-right: 0.5rem;
}

.navbar_menu {          /*overarching unordered list that contains all the items (headquarters hub, the hacker lab, faqs)*/
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar_item {          /*headquarers, the hacker lab, faqs*/
    height: 40px;
}

.navbar_link {      /*The URL associated when clicking on the above items*/
    list-style-type: none;  /*get rid of bulle points*/
    color: rgb(255, 255, 255);
    display: flex;
    text-decoration: none;  /*gets rid of the underline of the URL*/
    padding: 0 2rem;
    
}

.navbar_button {
    list-style-type: none;
    display: flex;

    text-decoration: none;
    padding: 10px 20px;
    width: 70%;
    border-radius: 10px;
    background: #19cc66;
    color: #ffffff;

}

.navbar_button:hover {
    background: #a8eb3c;
    transition: all 0.4s ease;
}

.navbar_link:hover {
    color:#e5ff70;
    transition: all 0.4s ease;
}




/*Time to make this navigation menu mobile friendly (screen-minimizing friendly)*/

@media screen and (max-width: 960px) {  /*allows us to slide menu down to view*/
    /*This is a media query for screens smaller than 960px. It modifies several of the above styles to make the navbar responsive to smaller screens, like hiding the menu until toggled and changing layout to a vertical grid.*/
    .navbar_container {
        padding: 0;
    }

    .navbar_menu {
        display: grid;              /*lists the dropdown menu items in dropdown form*/
        margin: 0;
        width: 100%;
        position: absolute;
        top: -300px;
        opacity: 0;
        transition: all 0.4s ease;
        background: #74e448;

    }

    .navbar_menu.active {      /*The black background of the slide-down action*/
        background: #000000;
        top: 100%;
        opacity: 1;
        transition: all 0.3s ease;
        height: 50vh;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {          /*Everything here is just how the menu would look on a small phone screen, after you hit toggle button*/
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar{       /*it's the three row horizontaal lines that allows you to surf through stuff*/ 
        display: block;
        cursor: pointer;

    }

    #mobile-menu.is-active .bar:nth-child(2) {  /*allows animation of the toggle horizontal lines menu icon to turn into an X button*/
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/*-------- slogans section ---------*/

.slogans_container {
    display: grid;
    background-image: linear-gradient(to bottom, #4ce787 1%, #000000 20%);

    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    padding: 0 50px;
}

.slogans_content h1 {
    font-size: 5rem;
    background-image: linear-gradient(to top, #f85085 0%, #6445c0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slogans_content h2 {
    font-size: 2.5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #77d6ff 0%, #3a09ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slogans_content h3 {
    font-size: 1.5rem;
    color: #fff;
}

.get_started_btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    color: #fff;
    margin-top: 2rem;
    position: relative;
    transition: all 0.35s;
}

.get_started_btn a {          /*--gets rid of underline in the 'get started' button and changes font color*/
    position: relative;
    z-index: 2;
    color: #fff;    /*get started font color*/
    text-decoration: none;
}

.get_started_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;    /*hover effect on button*/
    transition: all 0.275s;
    border-radius: 4px;
}


.get_started_btn:hover:after {    
    width: 100%;    /*how much of button is covered by transition effect*/
}


