body {
    font-family: 'Sofia', sans-serif;

}

.navbar {
    background: #000000;
    height: 80px;
    display: flex;          /*enables this navbar container to utilize CSS flexbox properties like justify content and align items */
    justify-content: center;        /*centers along the horizontal x-axis */
    align-items: center;            /*centers along the vertical y-axis*/
    font-size: 1.5rem;
    position: sticky;
    z-index: 999;       /*Note: if the z-index of the element is larger, it will be in front of any element with a smaller z-index. Good for a sticky header */

}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;   /*how high up the items are in comparison to the navigation bar*/
    z-index: 1;
    width: 100%;
    max-width: 1300px;      
    padding: 0 50px;    /*to not be too close to the sides of the screen*/

}

